<!-- <div class="docs-section"> -->

    <div class="page-header">
        <h2 id="team">About This System  <small></small></h2>
    </div>
    
    <!-- <h3><span class="label label-success">Created by 小笨/junyong.shen</span></h3> -->
    
    <p>
    This system is to generate weekly report automatically.<br>
    If you have any question, you can ask me.<br>
    Hoping that this system will help you. Just enjoy it :)<br>
    </p>
    
    <p>
    2015-1-20 增加了样机借出记录表
    </p>

    <p><font size="3px">
    <span class="label label-success">Created by 小笨 junyong.shen</span><span class="label label-default">2014-5-18 in Guangzhou</span>
    </font>
    </p>

<!-- </div> -->