<div class="docs-section">

        <h2 id="team">About This System  <small></small></h2>
    
    <!-- <h3><span class="label label-success">Created by 小笨/junyong.shen</span></h3> -->
    
    <p>
    This system is to generate weekly report automatically.<br>
    If you have any question, you can ask me.<br>
    Hoping that this system will help you. Just enjoy it :)<br>
    </p>
    
    <p>
    2015-1-20 增加了样机借出记录表
    </p>

    <p><font size="3px">
    <span class="label label-success">Created by 小笨 junyong.shen</span><span class="label label-default">2014-5-18 in Guangzhou</span>
    </font>
    </p>

    <hr>
    <h2 id="team">Help of This System</h2>
    <!-- <h3><span class="label label-success">Created by 小笨/junyong.shen</span></h3> -->
    
    <p>
    功能: 自动生成周报文档提供下载.<br><br>
    1. 找到自己的名字, 然后点击 <a class="btn btn-success btn-mini" type="button" href="#">New</a> 来进行新建周报内容<br>
    2. 如果需要查看内容, 则可以点击 <a class="btn btn-success btn-mini" role="button" href="#">View</a> 来进行查看内容<br>
    3. 如果需要修改内容, 则可以点击 <a class="btn btn-success btn-mini" role="button" href="#">View</a> 进入子菜单来进行编辑<br>
    4. 如果需要删除内容, 则可以点击 <a class="btn btn-success btn-mini" role="button" href="#">View</a> 进入子菜单来进行删除<br>
    5. 如果 Last Post Date 为黄色 <span class="label label-warning">YYYYMMDD</span>, 则表示提交已经过期<br>
    6. 如果 Last Post Date 为绿色 <span class="label label-success">YYYYMMDD</span>, 则表示今天已经提交<br>
    7. 如果 Last Post Date 为红色 <span class="label label-danger">YYYYMMDD</span>, 则表示还没有任何提交记录<br>
    8. 最后,点击导航栏的 "Download", 则会统计<strong> <s>"Last Post Date" 为绿色的</s> 最近的</strong>记录并且生成excel文档.
    </p>

    <p><font size="3px"><span class="label label-default">Updated 2014-6-16 in Guangzhou by 小笨</span></font></p>
    <p><font size="3px"><span class="label label-default">Updated 2015-1-21 in Guangzhou by 小笨</span></font></p>
    

</div>